<html>

<head>
    {% include 'static-support.html' %}
</head>

<body>
    {% include 'head-banner.html' %}
    <div class="content-section">
       <div class="subsection-heading">             <div class="subsection-heading-section-name" onclick=location.href="{{ url_for('subsection', section=sectionKey) }}">{{sectionName}}</div> /             {{heading}}         </div>
        <div class="content-section-listing">
            <ul>
                <li class="content-item">
                    Features:
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Two way data-binding
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Templating
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Routing
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Components
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Dependency Injection </li>
                <li class="content-item">
                    Concepts:
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Modules
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Components
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Templates
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Data binding
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Directives
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Services
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Dependency Injection
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;○ &nbsp;Metadata
                </li>

            </ul>
        </div>
    </div>
</body>

</html>