<html>

<head>
    {% include 'static-support.html' %}
</head>

<body>
    {% include 'head-banner.html' %}
    <div class="content-section">
       <div class="subsection-heading">             <div class="subsection-heading-section-name" onclick=location.href="{{ url_for('subsection', section=sectionKey) }}">{{sectionName}}</div> /             {{heading}}         </div>
        <div class="content-section-listing">
            <ul>
                <li class="content-item"> Interpreter or compiler is a program that converts high level program in to
                    machine code understood by computer </li>
                <li class="content-item"> Interpreter -
                    <br>
                    ○ Translates the program one statement at a time
                    <br>
                    ○ No intermediate object code is generated, hence it is memory efficient
                    <br>
                    ○ Continues translating the program until first error is met
                </li>
                <li class="content-item"> Compiler :
                    <br>
                    ○ Scans the entire program and translates it as a whole into machine code
                    <br>
                    ○ Generates intermediate object code, requires more memory
                    <br>
                    ○ Generates error messages only after scanning the whole program
                </li>
            </ul>
        </div>
    </div>
</body>

</html>