<html>

<head>
    {% include 'static-support.html' %}
</head>

<body>
    {% include 'head-banner.html' %}
    <div class="content-section">
       <div class="subsection-heading">             <div class="subsection-heading-section-name" onclick=location.href="{{ url_for('subsection', section=sectionKey) }}">{{sectionName}}</div> /             {{heading}}         </div>
        <div class="content-section-listing">
            <ul>
                <li class="content-item"> Super</li>
                <li class="content-item"> Interface</li>
                <li class="content-item"> Virtual method java </li>
                <li class="content-item"> Why java does not support multiple inheritance </li>
                <li class="content-item"> Difference between c++ and javascript </li>
                <li class="content-item"> Php and javascript </li>
                <li class="content-item"> Abstract class </li>
                <li class="content-item"> Interface </li>
                <li class="content-item"> Anonymous functions (closures) in PHP </li>
                <li class="content-item"> XSS attack </li>
                <li class="content-item"> Sql injection </li>
                <li class="content-item"> Javascript injection </li>
                <li class="content-item"> Composer </li>
                <li class="content-item">Console applications and web applications</li>
                <li class="content-item">Singleton</li>
                <li class="content-item">NP, NP-complete, NP-Hard(longest path in DAG)</li>
                <li class="content-item">MST Applications</li>
                <li class="content-item">Microsites</li>
                <li class="content-item">Data sanitization</li>
                <li class="content-item">Static attributes,class attributes, static method,class methods in python</li>
                <li class="content-item">Splitwise algo</li>
                <li class="content-item">Cut in graph theory</li>
                <li class="content-item">Compiletime mechanism</li>
                <li class="content-item"> What is the difference between a CMS and a Framework?Explain with examples
                    for both PHP based CMS and
                    Framework</li>
                <li class="content-item">Amortized complexit y</li>
                <li class="content-item">Javascript hoisting</li>
                <li class="content-item">Anonymous functions / lambda functions - difference</li>
                <li class="content-item">Generator function</li>
                <li class="content-item">Partition database??</li>
                <li class="content-item">GRUNT?</li>
                <li class="content-item">How many langs can we write node in?</li>
                <li class="content-item">Microservices</li>
            </ul>
        </div>
    </div>
</body>

</html>