Next generation javascript - Es6(version of js)

1. let, const - ways to create variables

2. Modular Code
Export & import

3. Classes
Blue prints of javascript objects
Properties, Methods

4. spread & rest operator
spread => ... (used to split up array elements or object properties)

example : const arr = [...old, 1, 2]

Rest: Used to merge a list of function arguments in to an array
Example : function sortargs (...args) {
return args.sort()
}

5. Destructuring - Extract array elements or object properties 
and store them in variables

Array Destructuring
const [a,b] = [1,2]

Object Destructuring
const {name} = {name:'prathyuhsa',id:2}

6. numbers, strings -> primitive types (copy is created)
arrays,object -> reference types (pointer is copied)