1. Docker Engine
2. Docker Client

=> Diff b/w docker image and docker Engine, Image vs Container

=> Docker File

=> port exposing 

=> Multiple engines and multi containers to create stacks

=> Connecting multiple docker files

=> docker compose -> multiple servers running

=> Volumes in docker for development

=> letsencrypt - docker image to create ssl certificate

=>

=>

1. List Docker Images:
    docker images
2. downloading docker image or create an instance of image -> hello-world
    docker run hello-world
3. Run docker in interactive mode
    docker run ubuntu -it /bin/bash
4. Removing docker images   
    docker rmi imageId
5. return only image id's of the Images
    docker images -q
6. Listing currently running containers
    docker ps
7. list all the containers
    docker ps -a
8. history of commands run for an image
    docker history imageid
9. 