<html>

<head>
    {% include 'static-support.html' %}
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'hello.js') }}"></script> -->
</head>

<body class="login-page">
    
    <div class="login-card">
        <div class="user-login-text"> User Login </div>
        <form action="/login" method="post">
            <div class="user-detail-section">
                <div class="user-name-section">
                    <label class="user-data name-label">Username:</label>
                    <input class="user-data user-input" type="text" name="nm" placeholder="Username" />
                </div>
                <div class="password-section">
                    <label class="user-data name-label">Password:</label>
                    <input class="user-data user-input" type="password" name="pass" placeholder="Password"/>
                </div>
                <p><button type="submit" class="submit-btn" value="Login">Login</button></p>
                <div class="login-error-message">
                    {% if error %}
                    <p><strong>Error:</strong> {{ error }}
                        {% endif %}
                </div>
            </div>

           
        </form>
    </div>

</body>

</html>